#sectionWelcome{
  background-image: url(../images/backgrounds/h_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:100%;
  height:100%;
  color:#ffff;
  align-content: center;
  text-align: center;
  padding-top: 190px;
}
#sectionAboutUs{
  width:100%;
  height:100%;
  align-content: center;
  text-align: center;
  padding-top: 190px;
}
#sectionServices{
  background-image: url(../images/backgrounds/s_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:100%;
  height:100%;
    color:#ffff;
  align-content: center;
  text-align: center;
  padding-top: 190px;
}


#sectionWhatWeDo{
  align-content: center;
  text-align: center;
  padding-top: 190px;

  div#first{
    float:left;
    align-content: center;
    text-align: center;
    width:28%;
    height:300px;
    padding:35px 35px 35px 35px;
    margin-right: 10%;
  }

  div#second{
    float:left;
    padding:35px 35px 35px 35px;
    align-content: center;
    text-align: center;
    width:25%
    height:300px;
    margin-right: 10%
  }

  div#third{
    float:left;
    padding:35px 35px 35px 35px;
    align-content: center;
    text-align: center;
    width:25%;
    height:300px;
}
}
#sectionPortfolio{
  align-content: center;
  text-align: center;
  padding-top: 190px;
}
#sectionContactUs{
  background-image: url(../images/backgrounds/c_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:#ffff;
  width:100%;
  height:100%;
